:root {
  --branding-color: #ef2530;
  --secondary-color: #ab0000;
  --headings-color: #151515;
  --secondary-heading: #222;
  --body-color: #333;
  --background-color: #f4f4f4;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  color: var(--body-color);
  font-family: var(--default-font-family);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: 700;
}

h1 {
  color: var(--headings-color);
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  color: var(--secondary-heading);
  font-size: 64px;
}

h3 {
  color: var(--headings-color);
  font-size: 48px;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  color: var(--body-color);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h1 {
  color: var(--body-color);
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}

.hero h2 {
  color: var(--headings-color);
  font-size: 96px;
  line-height: 1.5;
}

h2.selected {
  color: var(--body-color);
  font-family: var(--default-font-family);
  font-size: 16px;
  font-weight: normal;
}

.content-container {
  padding: 60px 20px;
}

.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
}

h1.about {
  font-family: var(--default-font-family);
  color: var(--secondary-heading);
  font-size: 24px;
}

h2.about {
  font-family: var(--heading-font-family);
  color: var(--headings-color);
  font-size: 64px;
  line-height: 1.5;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:focus,
.btn-branding:hover {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
  transition: all 100ms ease-in-out !important;
}

.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--body-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:focus,
.btn-branding-outline:hover {
  color: var(--body-color);
  transition: all 100ms ease-in-out;
}

.project-description {
  padding: 0px 60px 120px;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  color: var(--body-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav li .active,
nav a:hover {
  color: var(--branding-color);
}

.contact a {
  color: var(--body-color);
  font-weight: 700;
}

.contact a:focus,
.contact a:hover {
  color: var(--secondary-color);
}

footer {
  color: var(--body-color);
  margin: 60px 0;
}

footer a {
  color: var(--secondary-color);
}

footer a:focus,
footer a:hover {
  color: var(--body-color);
}

footer .contact-box {
  background: var(--background-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  color: #2b2b2b;
  font-size: 24px;
  text-decoration: none;
}

footer .email-link:hover {
  color: var(--secondary-color);
}

footer .social-links a {
  background: var(--background-color);
  color: var(--branding-color);
  font-size: 18px;
  border-radius: 50%;
  padding: 7px 14px;
  margin: 0 20px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  background: var(--branding-color);
  color: white;
  transition: all 100ms ease-in-out;
}

@media (max-width: 900px) {
  h1,
  .content h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
